name: Image Pipeline Test

on: [push, pull_request]

jobs:
  test_pipeline:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.14

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install opencv-python numpy matplotlib

      - name: Run pipeline tests
        run: python tests/test_pipeline.py
